:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --secondary-white-color: color: rgba(255, 255, 255, 0.6);
    --medium-bg-color: #E5E5E5;
    --end-bg-color: #F5F4FA;
    --footer-bg-color: #2F303A;
    --header-border-color: #ECECEC;
    --portfolio-border-color: #EEEEEE;
}


.body {
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    font-family:'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;

}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.item {
    list-style-type: none;
  }  /* Убираем маркеры */

/* Logo */
.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    text-decoration: none;
}
.logo-accent {
    color: var(--title-text-color);
}
   

.logo-footer {
    color: var(--primary-white-color);
    
}

/* Navigation */
   
.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.contact-nav .link .link-current {
    color: var(--accent-color);
}

/* Contact */
.contact-nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

}

.contact-nav .link:hover,
.contact-nav .link:focus {
    color: var(--accent-color);
}

/* Visually-hidden */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Hero title */
.hero-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* Background color section */
.hero {
    background-color: var(--footer-bg-color);
}

.team {
    background-color: var(--end-bg-color);
}

.footer {
    background-color: var(--footer-bg-color);
}

/* Section */
.team-title, .job-title {
     color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Singularity */
.singularity-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

/* Team section */
.team-member {
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

}

/* Footer */
.address {
    font-style: normal;
}

.address-be-found {
    color: var(--primary-white-color);
    text-decoration: none;

}

.address-contact {
    color: var(--secondary-white-color);
    text-decoration: none;

}

.address-contact:hover,
.address-contact:focus,
.address-be-found:hover,
.address-be-found:focus {
    color: var(--accent-color);
}


/* Button  */

.button {
    color: var(--title-text-color);
    background-color: var(--primary-white-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    }

.button.primary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);

}

.button.secondary {
    color: var(--accent-color);
    background-color: var(--primary-white-color);

}

/* Portfolio page */
.button-portfolio {
    background-color: var(--end-bg-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background-color: var(--end-bg-color);
    border: none;
    
}

.button-portfolio:hover,
.button-portfolio:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
   
}

.button-item:hover,
.button-item:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.project-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}